fastapi==0.111.1
notebook_shim==0.2.4
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
PyYAML==6.0.1
urllib3==2.2.1
uvicorn[standard]==0.30.1
# RND
torch==2.2
sentence-transformers
# openAI
backoff
openai